@font-face {
    font-family: 'GangaSagarMJ';
    src: local('GangaSagarMJ'), url(/font/GangaSagarMJ.ttf) format('opentype');
}

@font-face {
    font-family: 'Siyamrupali';
    src: local('Siyamrupali'), url(/font/Siyamrupali.ttf) format('opentype');
}

@font-face {
    font-family: 'SutonnyMJ';
    src: local('SutonnyMJ'), url(/font/SutonnyMJ.ttf) format('opentype');
}